@model  Study.Models.Models.LotteryViewModel
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "QueryNumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style type="text/css">
        .pagination {
            list-style: none;
        }
  .pagination > li {
    float: left;
  }
  .pagination > li > a {
    display: block;
    border: solid 1px gray;
    text-decoration: none;
    color: #3d3d3d;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 35px;
    padding: 0 15px;
    border-radius: 1em;
    margin: 2px;
  }

  .pagination > li.page a {
    text-align: center;
    width: 35px;
    padding: 0;
  }
    .pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius:20em;
    border-bottom-right-radius:20em;
}
    .pagination > li:first-child > a, .pagination > li:first-child > span {
            border-bottom-left-radius: 20em;
            border-top-left-radius: 20em;
        }
.tableT2{
    height:440px;
    padding-top:20px;
}
     .form-group>input[type="submit"]{
         display:block;
     }
    </style>
}

<h2>查詢號碼 @Html.ActionLink("Back", "Index",null, new { @class = "btn btn-primary" }) <button data-toggle="collapse" data-target="#demo" class="btn btn-primary">查詢條件</button></h2>
<div class="row">
    @using (Html.BeginForm("QueryNumber", "Lottery", FormMethod.Post, new { id = "QueryNumberList" }))
    {
        <div class="container form-inline collapse" id="demo">
            <div class="form-group">
                <label for="StartDate"><b>開始日期</b></label>
                <input type="text" class="form-control" placeholder="格式如：20190101" name="StartDate" pattern="\d{8}" oninput="value=value.replace(/[^\d]/g,'')">
            </div>
            <div class="form-group">
                <label for="StartDate"><b>結束日期</b></label>
                <input type="text" class="form-control" placeholder="格式如：20190101" name="EndDate" pattern="\d{8}" oninput="value=value.replace(/[^\d]/g,'')">
            </div>
            <div class="form-group">
                <label><b>　</b></label>
                <input type="submit" value="Search" class="form-control btn btn-default" />
            </div>
        </div>
            @*<table class="table-condensed">
                <tr>
                    <td>開始日期</td>
                    <td> @Html.EditorFor(model => model.StartDate)</td>
                    <td>結束日期</td>
                    <td> @Html.EditorFor(model => model.EndDate) </td>
                    <td> <input type="submit" value="Search" class="btn btn-default" /> </td>
                </tr>
            </table>*@
        
        <div class="tableT2">
            @if (Model.LotNumber != null && Model.LotNumber.Count() > 0)
            {

            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LotNumber.First().期數)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LotNumber.First().開獎日期)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LotNumber.First().號碼1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LotNumber.First().號碼2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LotNumber.First().號碼3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LotNumber.First().號碼4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LotNumber.First().號碼5)
                    </th>
                </tr>

                @foreach (var item in Model.LotNumber)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.期數)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.開獎日期)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.號碼1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.號碼2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.號碼3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.號碼4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.號碼5)
                        </td>
                    </tr>
                }

            </table>
            }
        </div>
            <div class="col-md-12 text-center">
                @Html.PagedListPager((IPagedList)Model.LotNumber, x => Url.Action("QueryNumber", new { Page = x}), PagedListRenderOptions.ClassicPlusFirstAndLast)
            </div>
        }
    
</div>

@section scripts{
<script>

    $(function () {
        $('.pagination>li>a[href]').each(function (i, item) {
            var page = $(item).attr('href').replace('/Lottery/QueryNumber?Page=', '');
            $(item).attr('href', '#').click(function () { postPage(page); });

        });
    });

    function postPage(page) {
        var targetFormId = '#QueryNumberList';
        if ($(targetFormId).length > 0) {
            $('<input>')
                .attr({ type: 'hidden', id: 'PageIndex', name: 'Page', value: page })
                .appendTo($(targetFormId));
            $(targetFormId).submit();
        }
    };

</script>
}

